.sidenav {
  transition: transform 0.5s ease-in-out;
}

.sidenav-hidden {
  transform: translateX(-100%);
}

.sidenav-visible {
  transform: translateX(0);
}


@media (min-width: 768px) {
  .sidenav {
    transform: translateX(0) !important;
  }
}